* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --index: calc(1vh + 1vw);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --transition: 1.25s cubic-bezier(.2, .5, 0, 1);
  --transition-cursor: 2s cubic-bezier(.05, .5, 0, 1);
}
body {
  ///*background-color: var(--black);*/
  font-family: 'Rubik', sans-serif;
  background-color: var(--black);
}
ul {
  font-size: calc(var(--index) * 0.68);
  height: 80px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: calc(var(--index) * 1);
  background-color: var(--black);
  padding: 20px;
  //position: absolute;
}
.logo, .basket {
  padding: 40px;
}
.first_section {
  height: 984px;
  overflow: hidden;
  //display: flex;
  background-image: url("/ready-html/img/bg_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  //position: absolute;
}
.main_content {
  //position: absolute;
}

//.main_img img {
//  position: absolute;
//  top: 30px;
//  right: 0;

//  width: calc(var(--index) * 37);
//  height: calc(var(--index) * 43.5);
//}
.main_content_text {
  display: flex;
  flex-direction: column;
  margin: calc(var(--index) * 2.5);
  margin-top: calc(var(--index) * 4.5);
  z-index: 100;

    .main_text {
      margin-bottom: calc(var(--index) * 4)
    }
    .main_text > .title {
      color: var(--white);
      font-weight: 700;
      font-size: calc(var(--index) / 0.157);
      line-height: calc(var(--index) / 0.15);
      margin-bottom: calc(var(--index) * 1.5);
    }
    .main_text > .subtitle {
      width: calc(var(--index) * 30);
      color: var(--black);
      font-weight: 400;
      font-size: calc(var(--index) * 1.1);
      line-height: calc(var(--index) * 1.3);
    }
    .sub_text > .title {
      font-weight: 700;
      font-size: calc(var(--index) * 1.9);
      color: var(--black);
      margin-bottom: calc(var(--index) * 0.6);
    }
    .sub_text > .subtitle {
      font-weight: 400;
      font-size: calc(var(--index) * 1);
      width: calc(var(--index) * 19);
    }
}

.second_section {
  .second_content{
    margin-bottom: calc(var(--index) * 3.9);

    .orange {
      color: orange;
    }

    color: var(--white);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: calc(var(--index) * 2.5);

        .text_title {
          margin-bottom: calc(var(--index) * 4.5);
        }
        .price {
          display: flex;
          flex-direction: row;
          font-weight: 400;
          font-size: calc(var(--index) * 1.5);
          gap: calc(var(--index) * 1);
          margin-bottom: calc(var(--index) * 2.9);

            .hide {
              color: gray;
              text-decoration:line-through;
            }
        }
    }
    .description {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap:wrap;
      .left_item,.central_item,.right_item {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: calc(var(--index) * 3.5);
      }
      .left_item img {
        margin-bottom: calc(var(--index) * 3.9);
      }
      .central_item img {
        margin-bottom: calc(var(--index) * 2.5);
        width: calc(var(--index) / 0.028);
      }
      .right_item img {
        margin-bottom: calc(var(--index) * 3.9);
      }
    }
    .order {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.central_item {
  font-size: calc(var(--index) * 2);
  font-weight: 400;
}
.central_item .orange {
  font-size: calc(var(--index) * 1.3);
}
.left_item ,.right_item {
  font-weight: 400;
  font-size: calc(var(--index) * 1);
}

.order button {
  width: calc(var(--index) * 13.5);
  height: calc(var(--index) * 3);
  border-radius: 7px;
  background-color: orange;
  color: var(--black);
  text-decoration: none;
  font-weight: 400;
  font-size: calc(var(--index) * 0.95);
  border: none;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: calc(var(--index) / 2);
    line-height: calc(var(--index) / 0.15);
    margin-bottom: calc(var(--index) * 1.5);
  }
}